.nav {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.38);
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
}